INSTAGRAM_ACCESS_TOKEN=PASTE_LONG_LIVED_INSTAGRAM_TOKEN_HERE
NEXT_PUBLIC_INSTAGRAM_PROFILE_URL=https://www.instagram.com/elysian.ink_
NEXT_PUBLIC_FORMSPREE_CONTACT_ENDPOINT=https://formspree.io/f/your_contact_form_id
NEXT_PUBLIC_FORMSPREE_BOOKING_ENDPOINT=https://formspree.io/f/your_booking_form_id
UPLOADTHING_TOKEN=PASTE_UPLOADTHING_TOKEN_HERE
